@charset "utf-8";

.ppof-settings{
    margin-top: 20px;
}


.ppof-settings .pp-row{}

.ppof-settings .pp-col{
    display: inline-block;
    margin: 10px 0;
}

.ppof-settings .pp-col-50{
    width: 49.50%;
}


.ppof-settings .text-align-right{
    text-align: right;
}

.ppof-settings .tab-content{
    display: none;
}

.ppof-settings .tab-content.active{
    display: block;
}


.ppof-settings .form-section{
    padding: 0 15px;
}





.ppof-settings .nav-header,.ppof-settings .nav-footer{
    background: #fff;
    padding: 15px 10px;

}
.ppof-settings .nav-header{
    border-bottom: 1px solid #ddd;
}


.ppof-settings .nav-items {

}
.ppof-settings .nav-items .nav-item{
    outline: none;
    box-shadow: none;
}
.ppof-settings .nav-items .nav-item.active{
    background: #ffffff5e;
    outline: none;
}

.ppof-settings .nav-footer{
    /*border-top: 1px solid #ddd;*/
}



.ppof-settings .form-header{
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.ppof-settings .form-header .submit{

}



.ppof-settings .form-footer{
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    margin-top: 30px;
    border-top: 1px solid #ddd;
}


.ppof-settings .form-footer .submit{

}



.ppof-settings .submit{
    margin: 0;
    padding: 0;
}

.ppof-settings .themeName{
    font-size: 18px;
    line-height: normal;
}
.ppof-settings .pagename{

}
.ppof-settings .themeVersion{
    color: #a0a5aa;
    font-style: italic;
    margin: 8px 0;
    font-size: 13px;
}



.ppof-settings .navigation {
    width: 250px;
    float: left;
    position: sticky;
    top: 30px;
}
.ppof-settings .navigation .nav-item{
    padding: 12px 10px;
    margin: 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 13px;
    background: #ffffff;
    display: block;
    text-decoration: none;
}

.ppof-settings .navigation .nav-item-active{
    background: #ffffff5e;

}



.ppof-settings .form-wrapper {
    margin-left: 251px;
    background: #fff;
}

.ppof-settings .form-table {
    clear: none;
}




.ppof-settings input[type="text"],.ppof-settings input[type="email"], .ppof-settings input[type="url"],.ppof-settings input[type="time"],.ppof-settings input[type="tel"],.ppof-settings input[type="date"],.ppof-settings input[type="search"], .ppof-settings input[type="month"], .ppof-settings input[type="color"], .ppof-settings textarea, .ppof-settings select, .ppof-settings input[type="range"], .ppof-settings input[type="number"],.ppof-settings .select2 {
    width: 320px;
}

.ppof-settings .repeatable{}
.ppof-settings .repeatable .field-list{
    margin-top: 18px;
}
.ppof-settings .repeatable .button{

}


.ppof-settings .repeatable .item-wrap{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}


/*addons-grid*/
.field-grid-wrapper{}
.field-grid-wrapper .item{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    background: #eee;
    overflow: hidden;
}
.field-grid-wrapper .name{

}

.field-grid-wrapper .name a{
    margin: 10px;
    text-decoration: none;
    display: block;
    font-weight: 600;
}


.field-grid-wrapper .thumb{
    overflow: hidden;
}
.field-grid-wrapper .thumb img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {

    .field-grid-wrapper .item{
        width: 100%;

    }

}


/* Collapsible */

.ppof-settings .collapsible{
    margin-bottom: 2px;
}
.ppof-settings .collapsible .header{
    background: #eee;
    padding: 8px 10px;
}

.ppof-settings .collapsible .header span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.ppof-settings .collapsible .content{
    display: none;
    padding: 10px;
    background: #f1f1f1;
}


.ppof-settings .collapsible.active .content{
    display: block;
}




@media screen and (max-width: 768px) {

    .ppof-settings .pp-col-50{
        width: 100%;
    }

    .ppof-settings .text-align-right{
        text-align: left;
    }

    .ppof-settings .navigation {
        width: 100%;
        float: none;
        position: relative;
    }

    .ppof-settings .form-wrapper {
        margin-left: 0;
        margin-top: 20px;
    }

    .ppof-settings .navigation .nav-items{
        display: none;
    }
    .ppof-settings .tab-content {
        display: block;
    }

}



